# Example environment file for local development
# Copy this to .env and set USE_ENV_FILE=1 to load it in settings.py
# Example values (do NOT commit real secrets)
# USE_ENV_FILE=1
DATABASE_URL='postgresql://postgres.fwbmntvmvwjbmedlzzcf:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres'
# DB_SSL=1